spring:
  profiles:
    active: local

  application:
    name: account-book

  jackson:
    time-zone: Asia/Seoul
    date-format: yyyy-MM-dd
  servlet:
    encoding:
      force: true
      charset: UTF-8
      enabled: true

server:
  port: 8080

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
